//-----------------------------------//
//  MIXINS
//-----------------------------------//
@mixin transition($dur: .2s, $tar: all, $sty: ease) {
    transition: $tar $dur $sty;
    -moz-transition: $tar $dur $sty;
    -ms-transition: $tar $dur $sty;
    -webkit-transition: $tar $dur $sty;
}

@mixin title($size: 48, $weight: 700, $case: none) {
    font-family: $titleFont;
    font-size: $size + px;
    font-weight: $weight;
    text-transform: $case;
    line-height: 1;
    letter-spacing: -1px;
    a {
        display: block;
        &:hover {
            text-decoration: none;
        }
    }
}

@mixin boxShadow($sty: null) {
    box-shadow: $sty 0 3px 6px -4px $color_default_charGrey;
    box-shadow: $sty 0 3px 6px -4px rgba(0, 0, 0, 0.5);
}

@mixin ipad {
    @media screen and (max-width: $ipad){
        @content;
    }
}